<p id="notice"><%= notice %></p>

<h1><%= @user.name %>'s Profile</h1>
<br />
<h2><%= @user.name %>'s Parties</h2>

<%= render partial: "shared/listing_events", :locals => {:user => @user, :current_user => @current_user, :which_events => @user.own_events}%>

<br />
<h2>Other Peoples Event's</h2>

<%= render partial: "shared/listing_events", :locals => {:user => @user, :current_user => @current_user, :which_events => @user.events}%>

<br />
<br />
<% if @user.id == session[:user_id]%>
  <%= button_to 'New Event', '/events/new', method: :get %>
<% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
