<h1>Events Page</h1>
<h2>You're logged in as <%= session[:name] %></h2>

<% [:new, :old].each do |event| %>
  <h3><%= event == :new ? 'Upcoming Event\'s' : 'Past Events' %></h3>
  <table>
    <thead>
      <tr>
        <th>Party</th>
        <th>Host</th>
        <th>Location</th>
        <th>Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% event == :new ? sort_e = @events.future : sort_e = @events.past %>
    <% sort_e.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td><%= e.user_id %></td>
        <td><%= e.location %></td>
        <td><%= e.time %></td>
        <td><%= link_to 'Show', "/events/#{e.id}", method: :get %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>