<!DOCTYPE html>
<html>
  <head>
    <title>SecondPrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div><%= notice %></div>
    <% end %>
    <% if flash[:alert] %>
      <div><%= alert %></div>
    <% end %>
    <% if flash[:error] %>
      <div><%= flash[:error] %></div>
    <% end %>
    <nav>
      <% unless session[:user_id].nil? %>
        <%= button_to 'Users Directory', users_path, method: :get %>
        <%= button_to 'Event\'s Page', events_path, method: :get %>
        <%= button_to "Profile", user_path(session[:user_id]), method: :get %>
        <%= button_to 'Log out', '/destroy', method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
